# === REACT FRONTEND ===
frontend2/node_modules/
frontend2/build/
frontend2/.env
frontend2/coverage/
frontend2/*.log
frontend2/.DS_Store

# === DJANGO BACKEND ===
backend2/__pycache__/
backend2/**/*.py[cod]
backend2/**/migrations/*.py[cod]
backend2/env/
backend2/*.sqlite3
backend2/*.db
backend2/*.log
backend2/media/
# backend2/recipebackend/media/
backend2/.env
backend2/.DS_Store

# === COMMON ===
*.log
*.pyc
.env
.DS_Store
.vscode/
__pycache__/
*.egg-info/
*.idea/
